<div class="menu-container">
  <img src="assets/bebolder.png">
  <div class="letters-menu">

    <button (click)="redirect('/')"><b>Home</b></button>

    <button mat-button [matMenuTriggerFor]="aboveMenu"><b>Employee</b></button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button (click)="redirect('/employees/list')">List Employee</button><br>
      <button (click)="redirect('/employees/add')" >Create Employee</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="belowMenu"><b>Users</b></button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button (click)="redirect('/users/list')">List Users</button><br>
      <button (click)="redirect('/users/add')" >Create Users</button>
    </mat-menu>
  </div>
</div>