<div class="form-container">
    <form class="example-form" (ngSubmit)="addEmployee()" autocomplete="off">

        <mat-form-field class="example-full-width">
            <mat-label>Document</mat-label>
            <input matInput placeholder="1234567895" [(ngModel)]="newEmployee.dsDocument" name="dsDocument" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Document Type</mat-label>
            <mat-select placeholder="Select Document Type" [(ngModel)]="newEmployee.dsDocumentType" name="dsDocumentType" required>
                <mat-option value="CC">CC</mat-option>
                <mat-option value="CE">CE</mat-option>
                <mat-option value="PA">PA</mat-option>
            </mat-select>
        </mat-form-field>
        

        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" [(ngModel)]="newEmployee.dsName" name="dsName" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="Lastname" [(ngModel)]="newEmployee.dsLastname" name="dsLastname" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="834747347" [(ngModel)]="newEmployee.dsPhoneNumber" name="dsPhoneNumber"
                required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Cll x # y" [(ngModel)]="newEmployee.dsAddress" name="dsAddress" required>
        </mat-form-field>

        <div class="date-fields-container">
            <mat-form-field class="example-full-width">
                <mat-label>Hire Date</mat-label>
                <input matInput placeholder="(YYYY-MM-DD)" type="text" [(ngModel)]="newEmployee.feHireDate"
                    name="feHireDate" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Departure Date </mat-label>
                <input matInput placeholder="(Optional, YYYY-MM-DD)" type="text"
                    [(ngModel)]="newEmployee.feDepartureDate" name="feDepartureDate">
            </mat-form-field>
        </div>

        <mat-form-field class="example-full-width">
            <mat-label>Type Of Contract</mat-label>
            <mat-select placeholder="Select Contract Type" [(ngModel)]="newEmployee.dsTypeOfContract" name="dsTypeOfContract" required>
                <mat-option value="FIXED_TERM">Fixed term</mat-option>
                <mat-option value="INDEFINITE_TERM">Indefinite term</mat-option>
                <mat-option value="APPRENTICESHIP">Apprenticeship</mat-option>
                <mat-option value="OPS">OPS</mat-option>
            </mat-select>
        </mat-form-field>
        

        <mat-form-field class="example-full-width">
            <mat-label>Status</mat-label>
            <mat-select placeholder="Select Employee Status" [(ngModel)]="newEmployee.dsEmployeeStatus" name="dsEmployeeStatus" required>
                <mat-option value="ACTIVE">Active</mat-option>
                <mat-option value="INACTIVE">Inactive</mat-option>
            </mat-select>
        </mat-form-field>
        

        <button mat-raised-button color="primary" type="submit">Add Employee</button>
    </form>
</div>