.form-container {
    width: 100%;
    max-width: 400px; 
    margin: auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .example-form {
    display: flex;
    flex-direction: column;
  }
  
  .example-full-width {
    width: 100%;
    margin-bottom: 20px; 
  }
  
  .date-fields-container {
    display: flex;
    justify-content: space-between;
  }
  
  .mat-raised-button {
    width: 100%;
  }
  